.react-calendar {
    width: 280px !important;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border : none !important;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;

}
.react-calendar-title{
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.12px;
    text-align: left;
    color: #a6a6a6;
}
.react-calendar__navigation{
    margin-bottom:0em !important;
}
.react-calendar__navigation__label__labelText{
    font-family: Pretendard;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.18px;
    text-align: left;
    color: #222;
}
.react-calendar__tile--now {
    background: #e6e8ff !important;
}
.react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 50px;
} */

.react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 50px;
    font-weight: bold;
    color: #6f48eb;
}

/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
} */

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}

.react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
}

.react-calendar__tile--range {
    background: #f8f8fa !important;
    color: #6f48eb !important;
    border-radius: 0;
}

.react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #6f48eb !important;
    color: white !important;
}

.react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #6f48eb !important;
    color: white !important;
}